/* This CSS gets applied to the tinymce editor */

@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body {
    font-family: 'Book Antiqua', serif;
    font-size: 11pt;
    color: #333;
}

.showEntityBrackets .entity {
    /*display: inline-block;
    height: 11px;
    line-height: 11px;
    width: 2px;*/
    border-width: 1px;
    border-bottom-style: dotted;
}

/*
.showEntityBrackets .start {
    border-left: 2px solid;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.showEntityBrackets .end {
    border-right: 2px solid;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
*/

/*
.entityHighlight {
    color: #fff;
    border-radius: 5px;
}
*/

/* TODO: need to get this out of here!! */
.entityHighlight.txtimglnk {
    background-color: #7F00FF;
}
.showEntityBrackets .txtimglnk {
    border-color: #7F00FF;
}
.showEntityBrackets .entityHighlight .entity {
    border-width: 2px;
}
/*
.entityHighlight.person {
    background-color: #FF0000;
}

.entityHighlight.date {
    background-color: #FF7400;
}

.entityHighlight.place {
    background-color: #009999;
}

.entityHighlight.event {
    background-color: #00CC00;
}

.entityHighlight.org {
    background-color: #3914AF; 
}

.entityHighlight.title {
    background-color: #debb00;
}

.entityHighlight.correction {
    background-color: #FF3300;
}

.entityHighlight.link {
    background-color: #3366ff;
}
*/
.showEntityBrackets .person {
    border-color: #FF0000;
}

.showEntityBrackets .date {
    border-color: #FF7400;
}

.showEntityBrackets .place {
    border-color: #009999;
}

.showEntityBrackets .event {
    border-color: #00CC00;
}

.showEntityBrackets .org {
    border-color: #3914AF; 
}

.showEntityBrackets .title {
    border-color: #debb00;
}

.showEntityBrackets .correction {
    border-color: #FF3300;
}

.showEntityBrackets .link {
    border-color: #3366ff;
}

/* special handling for note type entities */
.citation, .note, .keyword {
    /*height: 16px !important;
    width: 16px !important;*/
    cursor: pointer;
}

span:not(.entityHighlight) > .start.note::after, div > .start.note::after {
    content: url(../img/note_inline_large.png);
}

span:not(.entityHighlight) > .start.citation::after, div > .start.citation::after {
    content: url(../img/citation_inline_large.png);
}

span:not(.entityHighlight) > .start.keyword::after, div > .start.keyword::after {
    content: url(../img/keyword_inline_large.png);
}

.entityHighlight > .note::after {
    content: url(../img/note_inline_large_highlight.png);
}

.entityHighlight > .citation::after {
    content: url(../img/citation_inline_large_highlight.png);
}

.entityHighlight > .keyword::after {
    content: url(../img/keyword_inline_large_highlight.png);
}

.showEntityBrackets .citation.start, .showEntityBrackets .note.start, .showEntityBrackets .keyword.start {
    border: none !important;
}



span[data-mce-bogus] {
    height: 0px;
    width: 0px;
    line-height: 0px;
    font-size: 0px;
    display: none;
}

.titleTagQuotes:before, .quoteTagShort:before {
    content: open-quote;
}

.titleTagQuotes:after, .quoteTagShort:after {
    content: close-quote;
}

.titleTagItalics {
    font-style: italic;
}

.quoteTagLong {
    display: block;
    margin-left: 25px;
}

.quoteTag {
}

.headTag {
    font-size: 120%;
    font-weight: bold;
}

.emphTag {
    font-style: italic;
}