@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    overflow: hidden;
}

#cwrc_wrapper {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #333;
    overflow: hidden;
}

.cwrc {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.cwrc h1 {
    font-size: 14px;
}

.cwrc h2 {
    font-size: 12px;
}

.cwrc h3 {
    font-size: 11px;
}

.cwrc h1, h2, h3 {
    margin: 0;
}

.cwrc textarea {
    overflow: auto;
    resize: none;
}

.cwrc label {
    margin-right: 5px;
}

#cwrc_loadingMask {
	width: 100%;
	height: 100%;
	background-color: #DDD;
	position: fixed;
	z-index: 1000;
}

#cwrc_loadingMask div {
	background-image: url(../img/loading_large.gif);
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
    font-size: 20px;
    padding-top: 6px;
    padding-left: 38px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);}

#cwrc_wrapper {
    height: 100%;
    width: 100%;
}

#cwrc_header {
    padding: 0 10px;
    color: #eee;
    background-color: #455372;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background-image: url(../img/cwrc_logo_small.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#cwrc_header h1 {
    float: left;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 55px;
}

#headerButtons > div {
    float: right;
    cursor: pointer;
    margin-left: 20px;
}

#helpLink {
    background: url("../img/help.png") no-repeat scroll 0 7px transparent;
    padding-left: 20px;
}

#helpLink h2 {
    display: inline-block;
    margin-left: 2px;
    vertical-align: top;
}

#helpDialog iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.arrowLeft {
    background-image: url('../img/arrow_left.gif');
}

.arrowRight {
    background-image: url('../img/arrow_right.gif');
}

#westTabsContent .tabWithLayout {
    height: 100%;
    padding: 0 !important;
}

#westTabsContent .tabButtons {
    border-top: 1px solid #BBBBBB;
    padding: 5px;
}

#entitiesOptions > div {
    padding-bottom: 5px;
}

.entitiesList {
    overflow: auto;
    padding-top: 5px !important;
}

.cwrc .tabs {
    overflow: hidden;
    border: none !important;
    border-right: 1px solid #ccc !important;
    padding: 0 !important;
}

.cwrc .tabs > ul {
    padding: 3px 2px 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #b3bbbe !important;
    background: #eee !important;
}

.cwrc .tabs > ul li a {
    padding: 4px 1em !important;
}

.cwrc .tabs .ui-tabs-panel {
    padding: 5px 0 0 0 !important;
    overflow: auto;
}

.cwrc .tabs > ul li.ui-state-default {
	border-color: #eee !important;
	background: #eee !important;
}

.cwrc .tabs > ul li.ui-state-hover {
	background: #b3bbbe !important;
}

.cwrc .tabs > ul li.ui-state-active {
	border-color: #b3bbbe !important;
    background: #ffffff !important;
}

.cwrc .tabs > ul li.ui-state-active a, .cwrc .tabs > ul li.ui-state-active a:link {
	color: #333333 !important;
}


.loading {
    background-image: url('../img/loading.gif');
    width: 16px;
    height: 16px;
    display: inline-block;
}

#structureTreeActions {
    overflow: hidden;
}

.entitiesList, .relationsList, .validationList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entitiesList li .box {
    width: 22px;
    height: 22px;
    margin-right: 2px;
    display: inline-block;
    background-position: 3px 3px;
    background-repeat: no-repeat;
}

.entitiesList .person .box {
    background-image: url('../img/user.png');
}

.entitiesList .person .box, .entitiesList .person.over {
    background-color: #ff8080;
}

.entitiesList .person.selected, .entitiesList .person.selected .box {
    background-color: #FF0000;
}

.entitiesList .place .box {
    background-image: url('../img/world.png');
}

.entitiesList .place .box, .entitiesList .place.over {
    background-color: #4c9999;
}

.entitiesList .place.selected, .entitiesList .place.selected .box {
    background-color: #009999;
}

.entitiesList .date .box {
    background-image: url('../img/calendar.png');
}

.entitiesList .date .box, .entitiesList .date.over {
    background-color: #ffb980;
}

.entitiesList .date.selected, .entitiesList .date.selected .box {
    background-color: #FF7400;
}

.entitiesList .event .box {
    background-image: url('../img/cake.png');
}

.entitiesList .event .box, .entitiesList .event.over {
    background-color: #66cc66;
}

.entitiesList .event.selected, .entitiesList .event.selected .box {
    background-color: #00CC00;
}

.entitiesList .org .box {
    background-image: url('../img/group.png');
}

.entitiesList .org .box, .entitiesList .org.over {
    background-color: #8172b0;
}

.entitiesList .org.selected, .entitiesList .org.selected .box {
    background-color: #3914AF;
}

.entitiesList .citation .box {
    background-image: url('../img/vcard.png');
}

.entitiesList .citation .box, .entitiesList .citation.over {
    background-color: #cc66a0;
}

.entitiesList .citation.selected, .entitiesList .citation.selected .box {
    background-color: #CD0074;
}

.entitiesList .note .box {
    background-image: url('../img/note.png');
}

.entitiesList .note .box, .entitiesList .note.over {
    background-color: #6c88a6;
}

.entitiesList .note.selected, .entitiesList .note.selected .box {
    background-color: #0D56A6;
}

.entitiesList .title .box {
    background-image: url('../img/book.png');
}

.entitiesList .title .box, .entitiesList .title.over {
    background-color: #f2d747;
}

.entitiesList .title.selected, .entitiesList .title.selected .box {
    background-color: #debb00;
}

.entitiesList .correction .box {
    background-image: url('../img/error.png');
}

.entitiesList .correction .box, .entitiesList .correction.over {
    background-color: #FF9980;
}

.entitiesList .correction.selected, .entitiesList .correction.selected .box {
    background-color: #FF3300;
}

.entitiesList .keyword .box {
    background-image: url('../img/page_key.png');
}

.entitiesList .keyword .box, .entitiesList .keyword.over {
    background-color: #1da862;
}

.entitiesList .keyword.selected, .entitiesList .keyword.selected .box {
    background-color: #008040;
}

.entitiesList .link .box {
    background-image: url('../img/link.png');
}

.entitiesList .link .box, .entitiesList .link.over {
    background-color: #6289ff;
}

.entitiesList .link.selected, .entitiesList .link.selected .box {
    background-color: #3366ff;
}

.entitiesList .entityTitle {
    font-size: 11px;
    vertical-align: 6px;
}

.entitiesList .selected .entityTitle {
    color: #fff;
}

.entitiesList .info {
    display: none;
    padding: 0px 3px 3px 3px;
}

.entitiesList .info ul {
    list-style: none;
    background-color: #fff;
    padding: 2px;
    color: #000;
    max-height: 160px;
    overflow: auto;
    border-radius: 2px;
}

.entitiesList .info li {
    height: auto;
    font-size: 11px;
}

.entitiesList li {
    height: 22px;
}

.entitiesList li.selected {
    height: auto;
}

.entitiesList li:hover {
    cursor: pointer;
}

.relationsList li, .validationList li {
    padding: 3px 5px;
}

.relationsList li:hover, .validationList li:hover {
    background-color: #eee !important;
    cursor: pointer;
}

.relationsList li {
    background-color: #fff;
}

.relationsList li.selected {
    background-color: #d3d3d3 !important;
}

.validationList li {
    border: none !important;
    background: none !important;
    color: #333333 !important;
}

#validation button {
    margin: 2px 0 2px 5px;
}

#validation .message_more {
    color: #999999;
}

#validation .message_more:hover {
    text-decoration: underline;
}

#currentPath {
    font-size: 11px;
}

#currentPath a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#tree {
    border: none !important;
}

#search_query {
    width: 200px;
}

#files .column {
    position: absolute;
    width: 48%;
    top: 5px;
    bottom: 5px;
}

#files .searchResults {
    position: absolute;
    top: 20px;
    width: 95%;
    bottom: 10px;
    overflow: auto;
    border: 1px solid #fff;
}

#entitiesConverter {
    display: none;
}

#searchDialog input[type='text'] {
    border: 1px solid #ccc;
}

.ui-accordion-icons > div {
    margin-bottom: 0px !important;
}

#lookupServices .ui-accordion-content, #keyword_choice .ui-accordion-content {
    padding: 5px 10px;
}

#lookup_alternate input[type='radio'] {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

#lookup_alternate input[type='text'] {
    width: 225px;
}

#lookup_alternate ins, .attributeWidget ins {
    display: inline-block !important;
    vertical-align: bottom;
    margin-left: -5px;
}

.searchResultsParent {
    margin: 0;
    border: 1px solid #fff;
}

.searchResults {
    margin: 0;
    padding: 0;
    list-style: none;
}

.searchResults li {
    font-size: 10px;
    background-color: #fff;
    padding: 2px 5px;
    border-bottom: 1px solid #ccc;
}

.searchResults li.last {
    border: none;
}

.searchResults li:hover {
    background-color: #F0F0EE;
    cursor: pointer;
}

.searchResults li.selected {
    background-color: #9ac6eb;
}

.searchResults li span {
    display: block;
}

#tree_popup {
    display: none;
    z-index: 3;
    position: absolute;
    width: 175px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
}

#tree_popup ul {
    padding: 5px;
    margin: 0;
    list-style: none;
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}


#correctionDialog p, #noteDialog p {
    margin: 5px 0;
}

#note_type {
    margin-bottom: 10px;
}

#note_access {
    margin-top: 10px;
}

#correctionDialog textarea, #citationDialog textarea {
    width: 350px;
    height: 100px;
}

#keyword_choice {
    height: 300px;
}

.annotationDialog .leftPanel {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 15px;
    right: 50%;
    border-right: 1px solid #aaa;
    padding-right: 15px;
    overflow: auto;
}

.annotationDialog .rightPanel {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    right: 15px;
    padding-left: 15px;
}

.annotationDialog p {
    margin: 5px 0px;
}

.annotationDialog > div {
    margin-bottom: 15px !important;
}

.annotationDialog .ui-accordion-content {
  padding: 5px 10px !important;
}

.annotationDialog .tagAs {
    font-size: 16px;
}

.annotationDialog .attributes {
    position: relative;
    height: 200px;
}

#correctionDialog div {
    margin-bottom: 10px;
}

#titleDialog #title_level label span {
    font-size: 9px;
    display: block;
    margin-left: 21px;
}

#titleDialog #title_level input[type="radio"] {
    top: 8px;
    position: relative;
    margin-top: 8px;
}

#titleDialog #title_level input[type="radio"]:first-of-type {
    margin-top: -2px;
}

#schemaDialog {
    padding: 0.5em 0.5em 0;
}

#schemaDialog .content {
    margin-bottom: 0;
}

#keywordDialog .keywordRow input {
    vertical-align: middle;
    width: 150px;
}

#keywordDialog .keywordRow button {
    margin-left: 5px;
}

.attributeWidget label {
    display: inline;
}

.attributeWidget input, .attributeWidget select {
    width: 150px;
    border: 1px solid #ccc;
}

.attributeWidget .attributeSelector {
    border: 1px solid #999;
    top: 5px;
    bottom: 0;
    width: 130px;
    position: absolute;
}

.attributeWidget .attributeSelector ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
    bottom: 0;
}

.attributeWidget .attributeSelector li {
    padding: 3px;
    background-color: #fff;
}

.attributeWidget .attributeSelector li:hover {
    background-color: #ddd;
    cursor: pointer;
}

.attributeWidget .attributeSelector li.selected {
    background-color: #ccc;
}

.attributeWidget .attsContainer {
    position: absolute;
    top: 5px;
    right: 5px;
    left: 147px;
    bottom: 0;
    overflow: auto;
}

.attributeWidget .level1Atts, .attributeWidget .highLevelAtts {
    float: left;
    clear: left;
}

.attributeWidget .attsContainer label {
    width: 135px;
}

.attributeWidget .schemaHelp {
    float: right;
    width: 185px;
    margin-top: 5px;
    margin-right: 5px;
}

.cwrc .required {
    color: red;
}

.cwrc-tooltip {
    max-width: 250px;
    background-color: #fff;
}

#personName input {
    width: 90px;
    margin-right: 5px;
}

#datePicker {
    border: 1px solid #ccc;
}

#tripleDialog {
    overflow: hidden;
}

#tripleColumnsParent {
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

#currentRelation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    text-align: center;
}

#currentRelation p {
    margin: 5px;
    font-size: 14px;
    height: 20px;
}

#tripleColumnsParent .column {
    border: 1px solid #999;
    width: 32%;
    position: absolute;
    top: 5px;
    bottom: 0;
    margin-bottom: 0;
}

#subjectColumn {
    left: 0.75%;
}

#predicateColumn {
    left: 34%;
}

#objectColumn {
    left: 67%;
}

#tripleDialog h2, .attributeSelector h2 {
    padding: 3px;
    background-color: #ccc;
    height: 16px;
    border-bottom: 1px solid #999;
}

#tripleColumnsParent .column > ul {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 23px;
    bottom: 27px;
    left: 0;
    right: 0;
}

#tripleColumnsParent .column > ul li {
    white-space: nowrap;
}

#tripleColumnsParent .entitiesList li.selected {
    height: 22px;
}

#predicateColumn ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#predicateColumn li {
    padding: 3px;
    background-color: #fff;
}

#predicateColumn li:hover {
    background-color: #ddd;
    cursor: pointer;
}

#predicateColumn li.selected {
    background-color: #ccc;
}

#tripleColumnsParent .customEntry {
    height: 22px;
    border-top: 1px solid #999;
    background-color: #ccc;
    padding: 2px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#tripleColumnsParent .customEntry input {
    width: 95%;
    text-align: left;
}

#headerDialog div {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

#headerDialog textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#editSourceDialog textarea {
    width: 100%;
    height: 98%;
}

/* used by schematags plugin */
.scrollingMenuContainer {
    border: 1px solid #D4D0C8 !important;
    direction: ltr !important;
    left: 0 !important;
    position: absolute !important;
    top: 26px !important;
    z-index: 1000 !important;
}

.scrollingMenuContainer .mceMenuItemDisabled {
    visibility: collapse !important;
}

.scrollingMenuContainer .mceMenuItemDisabled * {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.cwrc .inputParent {
    background-color: #ffffff !important;
    border: 1px solid #D4D0C8 !important;
    position: absolute !important;
    z-index: 100000 !important;
    font-size: 14px !important;
}

.cwrc .inputParent span {
    margin: 4px 0 4px 3px !important;
    display: inline-block !important;
}

.cwrc .inputParent input {
    margin: 4px 3px !important;
    position: relative !important;
    display: inline-block !important;
    cursor: text !important;
}

.mce-cwrc.mce-btn {
	border: none;
	background: rgba(0, 0, 0, 0);
	margin-bottom: 1px;
	padding-left: 8px !important;
}

.mce-cwrc.mce-btn button i {
	margin-right: 4px;
	padding: 0px;
}

.mce-cwrc.mce-btn.mce-active, .mce-cwrc.mce-btn:hover {
    background-color: #2d8ac7 !important;
}

.mce-cwrc.mce-btn.mce-active button, .mce-cwrc.mce-btn:hover button {
    text-decoration: none;
    color: #fff !important;
}

.mce-cwrc label {
	padding: 6px 15px 6px 12px;
	background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* used by the entity plugin */
.entityButton img {
    height: 16px !important;
    width: 16px !important;
    margin: 2px !important;
}

.wideButton {
    height: 20px !important;
    width: 34px !important;
    margin: 2px !important;
}

.wideButton img {
    height: 20px !important;
    width: 32px !important;
    margin: 2px !important;
}

.currentTagButton {
    height: 20px !important;
    width: auto !important;
    margin: 2px !important;
}

.currentTagButton .mceIcon {
    font-weight: bold;
    font-size: 12px;
}

.mceToolbar .person {
    border-bottom: 2px solid #FF0000 !important;
}

.mceToolbar .place {
    border-bottom: 2px solid #009999 !important;
}

.mceToolbar .date {
    border-bottom: 2px solid #FF7400 !important;
}

.mceToolbar .event {
    border-bottom: 2px solid #00CC00 !important;
}

.mceToolbar .org {
    border-bottom: 2px solid #3914AF !important;
}

.mceToolbar .citation {
    border-bottom: 2px solid #CD0074 !important;
}

.mceToolbar .note {
    border-bottom: 2px solid #0D56A6 !important;
}

.mceToolbar .textTitle {
    border-bottom: 2px solid #debb00 !important;
}

.mceToolbar .correction {
    border-bottom: 2px solid #FF3300 !important;
}

.mceToolbar .keyword {
    border-bottom: 2px solid #008040 !important;
}

.mceToolbar .link {
    border-bottom: 2px solid #3366ff !important;
}

/* tinymce overrides */
div.mceDropDown {
    box-shadow: 1px 1px 2px #ccc;
}

/* jquery ui overrides */
.splitButtons .ui-dialog-buttonpane {
    padding: 0.3em 1em 0.5em 1em !important;
}

.splitButtons .ui-dialog-buttonset {
    float: none !important;
}

.splitButtons .ui-dialog-buttonset button {
    float: right;
}

.splitButtons .ui-dialog-buttonset button.left {
    float: left;
}

.ui-icon-help {
    cursor: pointer;
}