/*
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}*/

/*.result-area {
	height: 200px;
	overflow: auto;
}*/

.interfaceFieldsContainer {
	padding: 10px 0 0 20px;
}

textarea{
	resize:none
}

.modal-body-area {
	max-height: 500px;
	overflow: auto;
}

.cwrc-result-area {
	max-height: 400px;
	overflow: auto;	
}

.cwrc-help {
	cursor: pointer;
}

.popover {
	min-width: 300px;
}